@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500')
//fonst
$font-robot: "Roboto", sans-serif !important

//colors
$BODY-COLOR: #fafafa
$white-color: #FFFFFF !important
$dim-white-color: #A0A6CC !important
$black-color: #000000 !important
$orange-color: #FC900B !important
$red-color: #FF3E33 !important
$blue-color: rgba(0, 79, 206, 1) !important
$gray-color: rgba(147, 147, 147, 1) !important
$dark-gray-color: rgba(40, 40, 40, 1) !important

//header menu
$header-menu-background-color: $dark-gray-color
//component
$container-background-color: #4D59A1 !important
$attentionIdentification-background-color: #F1C0C0


//calculator
$total-label-color: #324482 !important
$bonus-background-color: #2D3B7A !important
$bonus-maximum-color: #ff705c !important
$calculator-button-color: #7C6FA8 !important
$calculator-button-color-hover: #FF9209 !important

//settings
$header-identification-component: #363E71 !important

//mixin
=placeholder
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content

body
  background-color: $BODY-COLOR !important

.auth__container
  height: calc(100vh - 85.38px) !important

.menu_login
  margin-bottom: -20px !important

.menu__color
  background-color: $header-menu-background-color

.header__menu
  background-color: $header-menu-background-color
  height: 49px !important
  border-radius: 0 !important
  @media screen and (max-width: 767px)
    height: 100px !important
.logo_content
  img
    width: 140px !important
.menu__logo
  height: 100% !important
  border: none !important
  background-color: inherit !important
  @media screen and (max-width: 767px)
    .item
      margin: 0 auto !important

.right__menu
  display: flex
  height: 100%
  min-height: 48px
  align-items: center
  justify-content: space-around !important
  @media screen and (min-width: 768px)
    justify-content: flex-end !important
  .menu_logout
    position: relative !important
    &:after
      content: ""
      @media screen and (max-width: 767px)
        content: none
      display: block
      position: absolute
      top: 15px
      @media screen and (min-width: 1200px)
        right: 142%
      @media screen and (max-width: 1199px)
        right: 152%
      @media screen and (max-width: 991px)
        right: 145%
      height: 32px
      width: 1px
      background-color: $gray-color

  &_item
    font-family: $font-robot
    font-size: 14px !important
    font-weight: 500 !important
    text-align: center !important
    justify-content: center !important
    line-height: 18px !important
    padding: 0 !important
    position: relative
    height: 64px !important
    margin-right: 50px !important
    cursor: pointer
    &:hover
      & a
        color: $white-color
    &:last-child
      margin-right: 0 !important
    a
      display: -webkit-box !important
      display: -ms-flexbox !important
      display: flex !important
      -webkit-box-pack: center
      -ms-flex-pack: center
      justify-content: center
      -webkit-box-align: center
      -ms-flex-align: center
      align-items: center
      width: 100% !important
      height: 100% !important
      color: $gray-color

.grid__menu
  width: 100% !important

.menu__title
  a
    font-family: $font-robot
    font-weight: 500 !important
    font-size: 18px !important
    color: $white-color

.user__menu
  height: 100% !important
  justify-content: flex-end !important
  &_item
    font-family: $font-robot
    font-size: 14px !important
    font-weight: 500 !important
    text-align: center !important
    justify-content: center !important
    line-height: 18px !important
    padding: 0 !important
    width: 95px !important
    height: 64px !important
    margin-right: 50px !important
    cursor: pointer
    &:hover
      & a
        color: $white-color
    &:last-child
      margin-right: 0 !important
    a
      display: -webkit-box !important
      display: -ms-flexbox !important
      display: flex !important
      -webkit-box-pack: center
      -ms-flex-pack: center
      justify-content: center
      -webkit-box-align: center
      -ms-flex-align: center
      align-items: center
      width: 100% !important
      height: 100% !important
      color: $gray-color

  &-logout
    text-transform: uppercase !important
    position: relative !important
    &:after
      content: ""
      display: block
      position: absolute
      top: 15px
      right: 122%
      height: 32px
      width: 1px
      background-color: $gray-color

.mobileMenu__trigger
  display: none !important
  color: $white-color
  font-size: 22px
  position: absolute !important
  right: 0 !important
  i
    cursor: pointer !important
    &:hover
      color: fade_out(#FFFFFF, 0.7) !important
  @media only screen and (max-width: 991px)
    display: block !important

.component__shadow
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2) !important
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2) !important

.component__main
  margin-top: 5px !important
  margin-bottom: 16px !important
  border-radius: 1px !important

.component__title
  margin: -4px 0 !important
  font-family: $font-robot
  font-size: 20px !important
  color: $dark-gray-color

.white__divider
  border-bottom: 1px solid rgba(255,255,255,.5) !important

.dashboard__component
  background-color: $white-color
  border-bottom-right-radius: 4px
  border-bottom-left-radius: 4px

.dashboard__wrapper_component
  padding-left: 0.65rem !important
  padding-right: 0.65rem !important

.dashboard__submit
  background-color: $blue-color
  color: $white-color
  text-transform: uppercase !important
  font-size: 14px !important
  font-weight: 600 !important
  border-radius: 2px !important
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.24) !important
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.24) !important
  -webkit-transition: background-color .5s ease !important
  -o-transition: background-color .5s ease !important
  transition: background-color .5s ease !important
  &:hover
    background-color: lighten(rgba(0, 79, 206, 1), 5%) !important

.attentionIdentification
  background-color: rgba(208, 88, 88, 1) !important
  font-family: $font-robot
  height: 36px !important
  margin-bottom: 15px !important
  @media screen and (max-width: 767px)
    height: 72px !important
  @media screen and (max-width: 438px)
    height: 85px !important
  font-weight: normal !important
  &__wrapper
    margin-top: -5px !important
    @media screen and (max-width: 767px)
      margin-top: 5px !important
    @media screen and (max-width: 438px)
      margin-top: 0 !important
  &__icon
    font-size: 18px !important
    color: $white-color
    @media screen and (max-width: 767px)
      display: block !important
      margin: 2px auto !important
  &__text
    color: $white-color
    font-size: 15px !important
  &__link
    color: $white-color
    //text-decoration: underline !important
    &:hover
      cursor: text !important
    //  color: darken(#fff, 10%) !important
  &__textColumn
    @media screen and (max-width: 767px) and (min-width: 320px)
      text-align: center

/***TIMER COMPONENT***/
.timer__item
  font-family: $font-robot
  &_title
    color: $gray-color
    font-weight: 300 !important
  &_value
    //margin: 0 !important
    margin-top: -12px !important
    color: $blue-color
    font-weight: normal !important
    font-size: 30px !important
    position: relative
  &:not(:last-child):after
    content: ":"
    color: $blue-color
    font-size: 30px
    position: absolute
    left: 92%
    bottom: 10px

.component__divider
  margin-left: -1rem !important
  margin-right: -1rem !important

/***CALCULATOR COMPONENT***/
.component__calculator
  margin-bottom: 20px !important

.calculator__currency
  background-color: rgba(0, 79, 206, 0.05) !important
  height: 42px !important

.currency__button
  font-family: $font-robot
  margin-top: 10px !important
  input
    &:checked + label
      color: $black-color
      font-weight: 500 !important
      border-bottom: 3px solid $blue-color
  label
    padding: 5px 25px !important
    color: $gray-color
    border-bottom: 2px solid transparent !important
    background-color: transparent !important
    font-weight: 500 !important
    &:hover
      color: $black-color
      font-weight: 500 !important
      border-bottom: 3px solid $blue-color
    &:before
      content: none !important
      display: none !important
    &:after
      content: none !important
      display: none !important

.input__currency
  color: $gray-color
  font-family: $font-robot
  font-weight: 300 !important
  letter-spacing: .4px
  margin-top: -6px !important
  font-size: 25px !important

.total__label
  font-family: $font-robot
  width: 100% !important
  margin-top: -15px !important
  border-radius: 2px 2px 2px 2px !important
  background-color: $total-label-color
  color: $white-color
  letter-spacing: .5px
  font-size: 14px !important
  font-weight: 500 !important
  overflow: hidden !important
.slider__wrapper
  position: relative !important
  .bonus__maximum
    position: absolute !important
    top: 130% !important
    @media screen and (max-width: 767px)
      margin-top: 10px !important
    right: 10px !important

.input__slider
  outline: none
  padding: 0
  margin: 32px auto 0 !important
  width: 100%
  height: 6px
  background: rgba(234, 234, 234, 1) -webkit-linear-gradient(-90deg, rgba(0, 79, 206, 1) 0%, rgba(127, 166, 230, 1) 50%, rgba(230, 238, 251, 1) 100%) no-repeat
  background: rgba(234, 234, 234, 1) -moz-linear-gradient(-90deg, rgba(0, 79, 206, 1) 0%, rgba(127, 166, 230, 1) 50%, rgba(230, 238, 251, 1) 100%) no-repeat
  background: rgba(234, 234, 234, 1) -o-linear-gradient(-90deg, rgba(0, 79, 206, 1) 0%, rgba(127, 166, 230, 1) 50%, rgba(230, 238, 251, 1) 100%) no-repeat
  background: rgba(234, 234, 234, 1) linear-gradient(-90deg, rgba(0, 79, 206, 1) 0%, rgba(127, 166, 230, 1) 50%, rgba(230, 238, 251, 1) 100%) no-repeat
  border-radius: 10px
  cursor: pointer
  -webkit-appearance: none
  @media screen and (max-width: 767px)
    display: none !important
  &::-webkit-slider-runnable-track
    -webkit-box-shadow: none
    box-shadow: none
    border: none
    background: transparent
    -webkit-appearance: none
  &::-moz-range-track
    -webkit-box-shadow: none
    box-shadow: none
    border: none
    background: transparent
  &::-moz-focus-outer
    border: 0
  &::-webkit-slider-thumb
    width: 16px
    height: 16px
    border: 0
    background: #fff
    border-radius: 100%
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 31, 56, 0.5)
    box-shadow: 0px 0px 5px 0px rgba(0, 31, 56, 0.5)
    -webkit-appearance: none
  &::-moz-range-thumb
    width: 16px
    height: 16px
    border: 0
    background: #fff
    border-radius: 100%
    -webkit-box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1)
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1)

.calculator__slider_divider
  margin-top: 38px !important

.calculator__paymount
  margin-top: -7px !important
  font-family: $font-robot
  font-weight: 500 !important
  overflow: hidden !important
  &_info:not(&_amount)
    margin-top: -15px !important
  &_divider
    margin-top: 0 !important
    margin-bottom: 0 !important

.calculator__submit
  width: 160px !important
  height: 30px !important
  line-height: 10px !important

.calculator__bonus
  cursor: default !important

.bonus__title
  color: $black-color

.bonus__label
  width: 47px !important
  height: 20px !important
  margin: 0 3px !important
  color: $white-color
  font-family: $font-robot
  font-size: 13px !important
  font-weight: 400 !important
  border-radius: 3px !important
  overflow: hidden !important
  background-color: $gray-color
  &-active
    background-color: $orange-color

.bonus__maximum
  color: $black-color
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -webkit-align-items: center
  -ms-flex-align: center
  align-items: center
  font-family: $font-robot
  -webkit-box-pack: end !important
  -webkit-justify-content: flex-end !important
  -ms-flex-pack: end !important
  justify-content: flex-end !important
  margin-right: 15px !important
  font-weight: 500 !important
  font-size: 14px !important
  i
    line-height: 1 !important
  img
    margin-right: 6px !important
  &-active
    color: rgba(208, 88, 88, 1) !important

.comments__form
  position: relative

.message__length
  position: absolute
  top: 100%
  width: 50%
  right: 0
  text-align: right
  &-active
    color: $red-color

.calculator__text
  font-family: $font-robot
  font-size: 14px !important
  color: $gray-color
  text-align: left !important
  line-height: 20px !important

.calculator__accordion
  box-shadow: none !important
  .active
    i
      transform: rotate(90deg) !important
  &_title
    display: -webkit-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    font-family: $font-robot
    padding-left: 0 !important
    padding-right: 0 !important
    font-size: 14px !important
    -webkit-box-pack: justify !important
    -webkit-justify-content: space-between !important
    -ms-flex-pack: justify !important
    justify-content: space-between !important
    i
      -webkit-transform: rotate(90deg) !important
      -ms-transform: rotate(90deg) !important
      transform: rotate(90deg) !important
  &_content
    padding-left: 0 !important
    padding-right: 0 !important
    textarea
      padding-left: 0 !important
      padding-right: 0 !important

.calculator__comments
  font-family: $font-robot
  font-weight: normal !important
  font-size: 14px !important
  line-height: 35px !important
  border-radius: 3px !important
  height: 90px !important
  color:  $blue-color
  border: none !important
  border-bottom: 1px solid $gray-color
  +placeholder
    color: $gray-color
    line-height: 0.5 !important

.calculator__order
  .rrright
    .radio
      float: right
  .llleft
    .radio
      float: left
  font-family: $font-robot
  &_header
    text-align: left !important
    p
      font-size: 16px !important
      font-weight: 500 !important
    span
      font-size: 15px !important
  &_wrapper
    margin: 5px 1rem -35px !important
    @media screen and (max-width: 464px)
      margin: 5px 2rem -35px !important
  &_fixcurrency
    input
      &:checked + label
        color: $blue-color
    label
      &:hover
        color: $blue-color
  &_label
    position: absolute !important
    top: -25px
    left: -10px
    font-size: 16px !important
    font-weight: 500 !important
    color: $gray-color
  &_paymount
    margin-top: 40px !important
    padding-top: 10px !important
    margin-left: 0 !important
    margin-right: 0 !important
    position: relative !important
    background-color: #E6EDFA !important
    font-weight: 500 !important
    font-family: $font-robot
  &_text
    text-align: left !important
    margin-top: 30px !important
    font-family: $font-robot
    font-size: 15px !important
    font-weight: 500 !important
    color: #929292 !important
  .calculator__paymount_divider
    background-color: $blue-color
    border-bottom: none !important
  .order__paymount_item, .calculator__order_amount
    text-align: left !important
  .order__paymount_item:not(:first-child)
    margin-top: -15px !important
  .order__strong
    font-weight: 600 !important


.ui.dimmer
  background-color: rgba(255,255,255,.85) !important

.modal
  -webkit-box-shadow: none !important
  box-shadow: none !important

.modal__success
  text-align: center !important
  &_icon
    i
      font-size: 45px !important
      color: rgba(61, 178, 97, 1) !important
  &_text
    margin: 15px 0 10px !important
    span
      font-family: $font-robot
      font-size: 18px !important
  &_btn
    margin-top: 40px !important
    button
      width: 150px !important
.modal__success-error
  button
    background-color: $red-color
    &:hover
      background-color: lighten(#FF3E33, 5%) !important
.modal__error-icon
  i
    color: $red-color

/***REQUEST COMPONENT***/
.request__item_wrapper
  cursor: default !important
.request__item
  font-family: $font-robot
  &_wrapper
    padding-top: 1.25rem !important
    padding-bottom: 1.25rem !important
    @media screen and (max-width: 767px)
      text-align: center !important
  &_title
    color: $gray-color
    font-size: 14px !important
  &_title-active
    color: rgba(0, 79, 206, .5) !important
  &_value
    margin-top: 3px !important
    font-size: 25px !important
    color: $dark-gray-color
  &_value-active
    color: $blue-color
  &_submit
    width: 100% !important
    @media screen and (max-width: 767px)
      width: 50% !important
      margin: 15px auto 0 !important
      display: block !important

.pay__modal
  position: relative
  .close__modal
    position: absolute
    top: 0
    z-index: 1 !important
    right: 0
    i
      z-index: 9999 !important
      font-size: 18px !important
      cursor: pointer !important
  .pay__header
    font-family: $font-robot
    font-size: 18px !important
    font-weight: 500 !important
  .pay__qrcode
    border: 25px solid #E4EEFB !important
    width: 60% !important
    margin: 0 auto !important
    img
      width: 90% !important
  .pay__address
    margin-top: -10px !important
  .pay__copy
    margin-top: -18px !important
  .pay__input
    width: 60% !important
    input
      height: 25px !important
      font-family: $font-robot
      text-align: center !important
      font-size: 15px !important
      font-weight: 500 !important
      background-color: #131313 !important
      color: $white-color
  .dashboard__submit
    width: 60% !important

/***DOWNLOAD COMPONENT***/
//download__container
.download__list
  font-family: $font-robot
  &_item
    font-weight: 400 !important
    padding: 5px 0 !important
    color: $gray-color
    font-size: 16px !important
    &:hover
      color: $blue-color
      text-decoration: underline !important

/***ROADMAP COMPONENT***/
.roadmap__progress
  margin-top: 25px !important
  &_bar
    background: rgba(234, 234, 234, 1) !important
    .bar
      background-image: -webkit-linear-gradient(90deg, rgba(127, 166, 230, 1) 0%, rgba(0, 79, 206, 1) 100%) !important
      background-image: -moz-linear-gradient(90deg, rgba(127, 166, 230, 1) 0%, rgba(0, 79, 206, 1) 100%) !important
      background-image: -o-linear-gradient(90deg, rgba(127, 166, 230, 1) 0%, rgba(0, 79, 206, 1) 100%) !important
      background-image: linear-gradient(90deg, rgba(127, 166, 230, 1) 0%, rgba(0, 79, 206, 1) 100%) !important

/***BETATEST COMPONENT***/
.betatest
  &__wrapper
    margin: 10px 0 !important
  &__item
    width: 29px !important
    height: 29px !important
    border-radius: 2px !important
    background-color: $gray-color
    cursor: pointer !important
    i
      color: $white-color
      padding: 0 .25em 0 0.25em !important
  &__item-checked
    background-color: $blue-color

.betatest__submit
  background-color: transparent !important
  color: $blue-color
  text-transform: uppercase !important
  font-size: 14px !important
  font-weight: 600 !important
  border-radius: 2px !important
  height: 100% !important
  &-active
    background-color: $blue-color

.betatest__modal_text
  color: $black-color

/***SOCIAL NETWORK SIDEBAR***/

.dashboard__social_component
  padding-left: 8px !important
  padding-right: 25px !important


.social__segment
  padding: 0 !important
  text-align: center !important

.social__sidebar
  a
    color: $gray-color
    -webkit-transition: color .3s ease
    transition: color .3s ease
    &:hover
      color: $blue-color
  &_icon
    font-size: 20px !important
    margin: 9px 0 !important


/***SETTINGS PAGE***/
.settings__identification
  font-family: $font-robot
  &_header
    margin-bottom: 25px !important
  &_tabs
    padding: 0 !important
    .segment
      border-top: none !important
    .secondary
      height: 43px !important
      background-color: #f1f6fd !important
      border-bottom: none !important
      padding: 0 20px !important
      font-family: $font-robot
      font-weight: 400 !important
      font-size: 16px !important
      .active
        border-bottom: 3px solid $blue-color
        font-weight: normal !important
        color: $blue-color
  input
    font-family: $font-robot

.setting_divider
  margin-left: -1rem !important
  margin-right: -1rem !important

.header__input_text
  font-family: $font-robot
  font-weight: 500 !important
  color: $black-color
  margin: 5px 0 10px !important

.header_text_uppercase
  text-transform: uppercase !important

.blue__divider
  margin-right: 0rem !important
  margin-left: 0rem !important
  background-color: $blue-color
.settings__information
  margin-top: -25px !important
.settings__select
  font-weight: 400 !important
  color: $black-color

.settings__dropdown
  .dropdown:not(.icon)
    margin-top: 10px !important
    margin-bottom: 32px !important
    padding-left: 0 !important
    width: 100% !important
    .menu
      -webkit-flex-wrap: wrap !important
      -ms-flex-wrap: wrap !important
      flex-wrap: wrap !important
    border: none !important
    border-radius: 0 !important
    border-bottom: 1px solid $black-color
    .item
      width: 100% !important

.setting__header_button
  background-color: #71779B !important
  color: $white-color
  &-active
    background-color: $white-color
    color: #55697A !important
  &:hover
    background-color: $white-color
    color: #55697A !important

.setting__description
  margin-top: -30px !important
  color: $black-color
  font-family: $font-robot
  font-weight: 400 !important

.setting__button
  margin: 15px 0 !important
  width: 98px !important
  font-weight: 400 !important
  height: 30px !important
  line-height: 6px !important

.setting__submit
  width: 176px !important

.setting__imagePreview
  margin: 7px 0 !important

.setting__change_buttons
  input
    font-family: $font-robot
    font-weight: 500 !important
    background-color: inherit !important
    border: none !important
    border-bottom: 2px solid $dim-white-color
    border-radius: 0 !important
    margin-bottom: 15px !important
    color: $white-color
    &:focus, &:hover
      border-bottom-color: $white-color
      +placeholder
        color: $white-color

.settings__company
  &_header
    margin-top: 20px !important
    margin-bottom: 15px !important
    font-family: $font-robot
    font-size: 14px !important
    text-transform: uppercase !important
  &_uploadInfo
    //margin-top: 30px !important
.margin-top
  margin-top: 10px !important

.beneficial__wrapper
  margin-top: 26px !important

.beneficial_btn
  float: right !important
  background-color: $white-color
  color: $blue-color
  padding-right: 0 !important
  text-transform: uppercase !important
  font-family: $font-robot
  font-size: 16px !important
  font-weight: 400 !important
  &:hover
    color: lighten(rgba(0, 79, 206, 1), 15%) !important

.beneficial_icon
  font-size: 18px !important
  color: $blue-color
  &:hover
    color: lighten(rgba(0, 79, 206, 1), 15%) !important

.login, .signup
  font-family: $font-robot
  max-width: 416px !important
  margin: 90px auto 20px !important

.auth__content
  padding: 20px !important

.auth__divider
  margin-left: -20px !important
  margin-right: -20px !important

.login__header
  font-size: 20px !important
  font-family: $font-robot
  font-weight: normal !important
  line-height: 35px !important
  margin: -13px 0 -7px !important
  color: $dark-gray-color

.reset__password
  &_header
    margin-top: -10px !important
  &_content
    label
      margin-bottom: 20px !important

.reset__divider
  margin-right: -1rem !important
  margin-left: -1rem !important

.login__content
  &_forgot
    text-align: right !important
    margin: 15px 0 !important
    a
      color: $blue-color
      font-size: 14px !important
  &_signup
    text-align: center !important
    font-size: 14px !important
    font-weight: 500 !important
    margin: 20px 0 10px !important

.auth_btn
    background-color: $blue-color
    color: $white-color
    text-transform: uppercase !important
    font-size: 14px !important
    font-weight: 600 !important
    border-radius: 2px !important
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.24) !important
    -webkit-transition: background-color .5s ease !important
    -o-transition: background-color .5s ease !important
    transition: background-color .5s ease !important
    &:hover
      background-color: lighten(rgba(0, 79, 206, 1), 5%) !important

.setting__button
  &-new
    background-color: $white-color
    color: $blue-color
    -webkit-box-shadow: none !important
    box-shadow: none !important
    padding-right: 0 !important
    &:hover
      background-color: $white-color
      color: lighten(rgba(0, 79, 206, 1), 5%) !important

.auth_input
  label
    position: relative !important
    display: block !important
    background-color: inherit !important
    height: 60px !important
    input
      -webkit-box-sizing: border-box !important
      -moz-box-sizing: border-box !important
      box-sizing: border-box !important
      display: block !important
      position: relative !important
      border: none !important
      padding: 30px 0 10px !important
      width: 100% !important
      outline: none !important
      background-color: inherit !important
      border-bottom: 1px solid $gray-color
      color: $black-color
      -webkit-transition: all 0.1s ease-in-out !important
      -o-transition: all 0.1s ease-in-out !important
      transition: all 0.1s ease-in-out !important
      +placeholder
        color: $gray-color
      &:hover
        border-bottom: 3px solid $blue-color
      &.populated_currency
        padding-top: 28px !important
        padding-bottom: 12px !important
        &::placeholder
          color: transparent !important
        & + span
          opacity: 1 !important
          top: 10px !important
      &:focus, &.populated
        padding-top: 28px !important
        padding-bottom: 12px !important
        border-bottom: 3px solid $blue-color

        &::placeholder
          color: transparent !important
        & + span
          opacity: 1 !important
          top: 10px !important
    span
      color: $blue-color
      position: absolute !important
      top: 0 !important
      font-size: 12px !important
      left: 0 !important
      opacity: 0 !important
      -webkit-transition: all 0.2s ease-in-out !important
      -o-transition: all 0.2s ease-in-out !important
      transition: all 0.2s ease-in-out !important

.signup__content
  &_confirm
    margin: 20px 0 34px !important
    font-size: 14px !important
    font-weight: 500 !important
    a
      color: $blue-color
  &_login
    text-align: center !important
    font-size: 14px !important
    font-weight: 500 !important
    margin: 20px 0 10px !important
    a
      color: $blue-color

.success__content
  margin: 92px 0 !important
  text-align: center !important
  &_icon
    font-size: 55px !important
    color: rgba(61, 178, 97, 1) !important
  &_text
    font-family: $font-robot
    font-size: 16px !important
    font-weight: 500 !important
    line-height: 25px !important
    color: $dark-gray-color
  .success__email
    font-family: $font-robot
    font-weight: 600 !important

.component__telegram
  padding: 0 !important

.telegram__wrapper
  border-radius: 0 !important
  -webkit-box-shadow: none !important
  box-shadow: none !important

.component__cryptocurrency
  padding: 1em 0 0 !important
  @media screen and (min-width: 1200px)
    min-height: 314px !important
  @media screen and (min-width: 992px) and (max-width: 1199px)
    min-height: 284px !important
  .cryptocurrency__form
    padding: 0 10px !important

.crypto__widget
  position: relative
  &:before
    content: ""
    display: block
    position: absolute
    top: 0
    right: 1px
    width: 99%
    height: 100px
    background-color: $white-color
  &_radio
    color: $blue-color

.reset_btn
  margin-top: 20px !important
  width: 100% !important

.visible.transition
  display: -webkit-box !important
  display: -webkit-flex !important
  display: -ms-flexbox !important
  display: flex !important
