@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
body {
  background-color: #fafafa !important; }

.not__found {
  text-align: center !important; }
  .not__found p, .not__found a {
    font-family: "Roboto", sans-serif !important; }
  .not__found_title {
    margin-bottom: 0 !important;
    line-height: 1 !important;
    font-size: 120px !important;
    font-weight: 500 !important;
    color: #939393 !important; }
  .not__found_text {
    font-size: 30px !important;
    color: #282828 !important;
    margin-bottom: 22px !important; }
  .not__found_link {
    font-size: 16px !important;
    text-decoration: underline !important;
    color: #004fce !important; }

.cursor-pointer {
  cursor: pointer !important; }

.auth__container {
  height: calc(100vh - 100px) !important;
  display: -ms-grid !important;
  display: grid !important;
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important; }

.black-text {
  color: #000000 !important; }

.menu_login {
  margin-bottom: -20px !important; }

.menu__color {
  background-color: #282828 !important; }

.header__menu {
  background-color: #282828 !important;
  height: 49px !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  margin-top: 0 !important; }
  @media screen and (max-width: 767px) {
    .header__menu {
      height: 100px !important; } }

.logo_content img {
  width: 140px !important; }

.menu__logo {
  height: 100% !important;
  border: none !important;
  background-color: inherit !important; }
  @media screen and (max-width: 767px) {
    .menu__logo .item {
      margin: 0 auto !important; } }

.right__menu {
  display: flex;
  height: 100%;
  min-height: 48px;
  align-items: center;
  justify-content: space-around !important; }
  @media screen and (min-width: 768px) {
    .right__menu {
      justify-content: flex-end !important; } }
  .right__menu .menu_logout {
    position: relative !important; }
    .right__menu .menu_logout:after {
      content: "";
      display: block;
      position: absolute;
      top: 15px;
      height: 32px;
      width: 1px;
      background-color: #939393 !important; }
      @media screen and (max-width: 767px) {
        .right__menu .menu_logout:after {
          content: none; } }
      @media screen and (min-width: 1200px) {
        .right__menu .menu_logout:after {
          right: 142%; } }
      @media screen and (max-width: 1199px) {
        .right__menu .menu_logout:after {
          right: 152%; } }
      @media screen and (max-width: 991px) {
        .right__menu .menu_logout:after {
          right: 145%; } }
  .right__menu_item {
    font-family: "Roboto", sans-serif !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    text-align: center !important;
    justify-content: center !important;
    line-height: 18px !important;
    padding: 0 !important;
    position: relative;
    height: 64px !important;
    margin-right: 50px !important;
    cursor: pointer; }
    .right__menu_item:hover a {
      color: #FFFFFF !important; }
    .right__menu_item:last-child {
      margin-right: 0 !important; }
    .right__menu_item a {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100% !important;
      height: 100% !important;
      color: #939393 !important; }

.grid__menu {
  width: 100% !important; }

.menu__title a {
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  color: #FFFFFF !important; }

.user__menu {
  height: 100% !important;
  justify-content: flex-end !important; }
  .user__menu_item {
    font-family: "Roboto", sans-serif !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    text-align: center !important;
    justify-content: center !important;
    line-height: 18px !important;
    padding: 0 !important;
    width: 95px !important;
    height: 64px !important;
    margin-right: 50px !important;
    cursor: pointer; }
    .user__menu_item:hover a {
      color: #FFFFFF !important; }
    .user__menu_item:last-child {
      margin-right: 0 !important; }
    .user__menu_item a {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100% !important;
      height: 100% !important;
      color: #939393 !important; }
  .user__menu-logout {
    text-transform: uppercase !important;
    position: relative !important; }
    .user__menu-logout:after {
      content: "";
      display: block;
      position: absolute;
      top: 15px;
      right: 122%;
      height: 32px;
      width: 1px;
      background-color: #939393 !important; }

.mobileMenu__trigger {
  display: none !important;
  color: #FFFFFF !important;
  font-size: 22px;
  position: absolute !important;
  right: 0 !important; }
  .mobileMenu__trigger i {
    cursor: pointer !important; }
    .mobileMenu__trigger i:hover {
      color: rgba(255, 255, 255, 0.3) !important; }
  @media only screen and (max-width: 991px) {
    .mobileMenu__trigger {
      display: block !important; } }

.component__shadow {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important; }

.component__main {
  margin-top: 5px !important;
  margin-bottom: 16px !important;
  border-radius: 1px !important;
  -webkit-border-radius: 1px !important; }

.component__title {
  margin: -4px 0 !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 20px !important;
  color: #282828 !important; }

.white__divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important; }

.dashboard__component {
  background-color: #FFFFFF !important;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; }

.dashboard__wrapper_component {
  padding-left: 0.65rem !important;
  padding-right: 0.65rem !important; }

.dashboard__submit {
  background-color: #004fce !important;
  color: #FFFFFF !important;
  text-transform: uppercase !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  border-radius: 2px !important;
  -webkit-border-radius: 2px !important;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.24) !important;
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.24) !important;
  -webkit-transition: background-color .5s ease !important;
  -o-transition: background-color .5s ease !important;
  transition: background-color .5s ease !important; }
  .dashboard__submit:hover {
    background-color: #0059e8 !important; }

.attentionIdentification {
  background-color: #d05858 !important;
  font-family: "Roboto", sans-serif !important;
  height: 36px !important;
  margin-bottom: 15px !important;
  font-weight: normal !important; }
  @media screen and (max-width: 767px) {
    .attentionIdentification {
      height: 72px !important; } }
  @media screen and (max-width: 446px) {
    .attentionIdentification {
      height: 85px !important; } }
  @media screen and (max-width: 380px) {
    .attentionIdentification {
      height: 90px !important; } }
  .attentionIdentification__wrapper {
    margin-top: -5px !important; }
    @media screen and (max-width: 767px) {
      .attentionIdentification__wrapper {
        margin-top: 5px !important; } }
    @media screen and (max-width: 438px) {
      .attentionIdentification__wrapper {
        margin-top: 0 !important; } }
  .attentionIdentification__icon {
    font-size: 18px !important;
    color: #FFFFFF !important; }
    @media screen and (max-width: 767px) {
      .attentionIdentification__icon {
        display: block !important;
        margin: 2px auto !important; } }
  .attentionIdentification__text {
    color: #FFFFFF !important;
    font-size: 15px !important; }
  .attentionIdentification__link {
    color: #FFFFFF !important;
    text-decoration: underline !important; }
    .attentionIdentification__link:hover {
      color: #e6e6e6 !important; }
  @media screen and (max-width: 767px) and (min-width: 320px) {
    .attentionIdentification__textColumn {
      text-align: center; } }

/***TIMER COMPONENT***/
.timer__item {
  font-family: "Roboto", sans-serif !important; }
  .timer__item_title {
    color: #939393 !important;
    font-weight: 300 !important; }
  .timer__item_value {
    margin-top: -12px !important;
    color: #004fce !important;
    font-weight: normal !important;
    font-size: 30px !important;
    position: relative; }
  .timer__item:not(:last-child):after {
    content: ":";
    color: #004fce !important;
    font-size: 30px;
    position: absolute;
    left: 92%;
    bottom: 10px; }

.component__divider {
  margin-left: -1rem !important;
  margin-right: -1rem !important; }

/***CALCULATOR COMPONENT***/
.component__calculator {
  margin-bottom: 20px !important; }

.calculator__currency {
  background-color: rgba(0, 79, 206, 0.05) !important;
  height: 42px !important; }

.currency__button {
  font-family: "Roboto", sans-serif !important;
  margin-top: 10px !important; }
  .currency__button input:checked + label {
    color: #000000 !important;
    font-weight: 500 !important;
    border-bottom: 3px solid #004fce !important; }
  .currency__button label {
    padding: 5px 25px !important;
    color: #939393 !important;
    border-bottom: 2px solid transparent !important;
    background-color: transparent !important;
    font-weight: 500 !important; }
    .currency__button label:hover {
      color: #000000 !important;
      font-weight: 500 !important;
      border-bottom: 3px solid #004fce !important; }
    .currency__button label:before {
      content: none !important;
      display: none !important; }
    .currency__button label:after {
      content: none !important;
      display: none !important; }

.input__currency {
  color: #939393 !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 300 !important;
  letter-spacing: .4px;
  margin-top: -6px !important;
  font-size: 25px !important; }
  .input__currency:focus {
    font-weight: 400 !important; }

.total__label {
  font-family: "Roboto", sans-serif !important;
  width: 100% !important;
  margin-top: -15px !important;
  border-radius: 2px 2px 2px 2px !important;
  -webkit-border-radius: 2px 2px 2px 2px !important;
  background-color: #324482 !important;
  color: #FFFFFF !important;
  letter-spacing: .5px;
  font-size: 14px !important;
  font-weight: 500 !important;
  overflow: hidden !important; }

.slider__wrapper {
  position: relative !important; }
  .slider__wrapper .bonus__maximum {
    position: absolute !important;
    top: 130% !important;
    right: 10px !important; }
    @media screen and (max-width: 767px) {
      .slider__wrapper .bonus__maximum {
        margin-top: 10px !important; } }

.input__slider {
  outline: none;
  padding: 0;
  margin: 32px auto 0 !important;
  width: 100%;
  height: 6px;
  background: #eaeaea -webkit-linear-gradient(-90deg, #004fce 0%, #7fa6e6 50%, #e6eefb 100%) no-repeat;
  background: #eaeaea -moz-linear-gradient(-90deg, #004fce 0%, #7fa6e6 50%, #e6eefb 100%) no-repeat;
  background: #eaeaea -o-linear-gradient(-90deg, #004fce 0%, #7fa6e6 50%, #e6eefb 100%) no-repeat;
  background: #eaeaea linear-gradient(-90deg, #004fce 0%, #7fa6e6 50%, #e6eefb 100%) no-repeat;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none; }
  @media screen and (max-width: 767px) {
    .input__slider {
      display: none !important; } }
  .input__slider::-webkit-slider-runnable-track {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none; }
  .input__slider::-moz-range-track {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: transparent; }
  .input__slider::-moz-focus-outer {
    border: 0; }
  .input__slider::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 31, 56, 0.5);
    box-shadow: 0px 0px 5px 0px rgba(0, 31, 56, 0.5);
    -webkit-appearance: none;
    -moz-appearance: none; }
  .input__slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -webkit-box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1); }

.calculator__slider_divider {
  margin-top: 38px !important; }

.calculator__paymount {
  margin-top: -7px !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
  overflow: hidden !important; }
  .calculator__paymount_info:not(.calculator__paymount_amount) {
    margin-top: -15px !important; }
  .calculator__paymount_divider {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }

.calculator__submit {
  width: 160px !important;
  height: 30px !important;
  line-height: 10px !important; }

.calculator__bonus {
  cursor: default !important; }

.bonus__title {
  color: #000000 !important; }

.bonus__label {
  width: 47px !important;
  height: 20px !important;
  margin: 0 3px !important;
  color: #FFFFFF !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  overflow: hidden !important;
  background-color: #939393 !important; }
  .bonus__label-active {
    background-color: #FC900B !important; }

.bonus__maximum {
  color: #000000 !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Roboto", sans-serif !important;
  -webkit-box-pack: end !important;
  -webkit-justify-content: flex-end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
  margin-right: 15px !important;
  font-weight: 500 !important;
  font-size: 14px !important; }
  .bonus__maximum i {
    line-height: 1 !important; }
  .bonus__maximum img {
    margin-right: 6px !important; }
  .bonus__maximum-active {
    color: #d05858 !important; }

.comments__form {
  position: relative; }

.message__length {
  position: absolute;
  top: 100%;
  width: 50%;
  right: 0;
  text-align: right; }
  .message__length-active {
    color: #FF3E33 !important; }

.calculator__text {
  font-family: "Roboto", sans-serif !important;
  font-size: 14px !important;
  color: #939393 !important;
  text-align: left !important;
  line-height: 20px !important; }

.calculator__accordion {
  box-shadow: none !important; }
  .calculator__accordion .active i {
    transform: rotate(90deg) !important; }
  .calculator__accordion_title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: "Roboto", sans-serif !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 14px !important;
    -webkit-box-pack: justify !important;
    -webkit-justify-content: space-between !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important; }
    .calculator__accordion_title i {
      -webkit-transform: rotate(90deg) !important;
      -ms-transform: rotate(90deg) !important;
      transform: rotate(90deg) !important; }
  .calculator__accordion_content {
    padding-left: 0 !important;
    padding-right: 0 !important; }
    .calculator__accordion_content textarea {
      padding-left: 0 !important;
      padding-right: 0 !important; }

.calculator__comments {
  font-family: "Roboto", sans-serif !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 35px !important;
  border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  height: 90px !important;
  color: #004fce !important;
  border: none !important;
  border-bottom: 1px solid #939393 !important; }
  .calculator__comments::-webkit-input-placeholder {
    color: #939393 !important;
    line-height: 0.5 !important; }
  .calculator__comments:-moz-placeholder {
    color: #939393 !important;
    line-height: 0.5 !important; }
  .calculator__comments::-moz-placeholder {
    color: #939393 !important;
    line-height: 0.5 !important; }
  .calculator__comments:-ms-input-placeholder {
    color: #939393 !important;
    line-height: 0.5 !important; }

.calculator__order {
  font-family: "Roboto", sans-serif !important; }
  .calculator__order .rrright .radio {
    float: right; }
  .calculator__order .llleft .radio {
    float: left; }
  .calculator__order_header {
    text-align: left !important; }
    .calculator__order_header p {
      font-size: 16px !important;
      font-weight: 500 !important; }
    .calculator__order_header span {
      font-size: 15px !important; }
  .calculator__order_wrapper {
    margin: 5px 1rem -35px !important; }
    @media screen and (max-width: 464px) {
      .calculator__order_wrapper {
        margin: 5px 2rem -35px !important; } }
  .calculator__order_fixcurrency input:checked + label {
    color: #004fce !important; }
  .calculator__order_fixcurrency label:hover {
    color: #004fce !important; }
  .calculator__order_label {
    position: absolute !important;
    top: -25px;
    left: -10px;
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #939393 !important; }
  .calculator__order_paymount {
    margin-top: 40px !important;
    padding-top: 10px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    position: relative !important;
    background-color: #E6EDFA !important;
    font-weight: 500 !important;
    font-family: "Roboto", sans-serif !important; }
  .calculator__order_text {
    text-align: left !important;
    margin-top: 30px !important;
    font-family: "Roboto", sans-serif !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    color: #929292 !important; }
  .calculator__order .calculator__paymount_divider {
    background-color: #004fce !important;
    border-bottom: none !important; }
  .calculator__order .order__paymount_item, .calculator__order .calculator__order_amount {
    text-align: left !important; }
  .calculator__order .order__paymount_item:not(:first-child) {
    margin-top: -15px !important; }
  .calculator__order .order__strong {
    font-weight: 600 !important; }

.ui.dimmer {
  background-color: rgba(255, 255, 255, 0.85) !important; }

.modal {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #000000 !important; }

.modal__success {
  text-align: center !important; }
  .modal__success_icon i {
    font-size: 45px !important;
    color: #3db261 !important; }
  .modal__success_text {
    margin: 15px 0 10px !important; }
    .modal__success_text span {
      font-family: "Roboto", sans-serif !important;
      font-size: 18px !important; }
  .modal__success_btn {
    margin-top: 40px !important; }
    .modal__success_btn button {
      width: 150px !important; }

.modal__success-error button {
  background-color: #FF3E33 !important; }
  .modal__success-error button:hover {
    background-color: #ff564d !important; }

.modal__error-icon i {
  color: #FF3E33 !important; }

/***REQUEST COMPONENT***/
.request__item_wrapper {
  cursor: default !important; }

.request__item {
  font-family: "Roboto", sans-serif !important; }
  .request__item_wrapper {
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important; }
    @media screen and (max-width: 767px) {
      .request__item_wrapper {
        text-align: center !important; } }
  .request__item_title {
    color: #939393 !important;
    font-size: 14px !important; }
  .request__item_title-active {
    color: rgba(0, 79, 206, 0.5) !important; }
  .request__item_value {
    margin-top: 3px !important;
    font-size: 25px !important;
    color: #282828 !important; }
  .request__item_value-active {
    color: #004fce !important; }
  .request__item_submit {
    width: 100% !important;
    background-color: transparent !important;
    color: #000000 !important; }
    @media screen and (max-width: 767px) {
      .request__item_submit {
        width: 50% !important;
        margin: 15px auto 0 !important;
        display: block !important; } }
  .request__item-pay {
    background-color: transparent !important;
    box-shadow: none !important; }
    .request__item-pay:hover {
      background-color: transparent !important; }

.pay__modal {
  position: relative; }
  .pay__modal .close__modal {
    position: absolute;
    top: 0;
    z-index: 1 !important;
    right: 0; }
    .pay__modal .close__modal i {
      z-index: 9999 !important;
      font-size: 18px !important;
      cursor: pointer !important; }
  .pay__modal .pay__header {
    font-family: "Roboto", sans-serif !important;
    font-size: 18px !important;
    font-weight: 500 !important; }
  .pay__modal .pay__qrcode {
    border: 25px solid #E4EEFB !important;
    width: 60% !important;
    margin: 0 auto !important; }
    .pay__modal .pay__qrcode img {
      width: 90% !important; }
  .pay__modal .pay__address {
    margin-top: -10px !important; }
  .pay__modal .pay__copy {
    margin-top: -18px !important; }
  .pay__modal .pay__input {
    width: 60% !important; }
    .pay__modal .pay__input input {
      height: 25px !important;
      font-family: "Roboto", sans-serif !important;
      text-align: center !important;
      font-size: 15px !important;
      font-weight: 500 !important;
      background-color: #131313 !important;
      color: #FFFFFF !important; }
  .pay__modal .dashboard__submit {
    width: 60% !important; }

/***DOWNLOAD COMPONENT***/
.download__list {
  font-family: "Roboto", sans-serif !important; }
  .download__list_item {
    font-weight: 400 !important;
    padding: 5px 0 !important;
    color: #939393 !important;
    font-size: 16px !important; }
    .download__list_item:hover {
      color: #004fce !important;
      text-decoration: underline !important; }

/***ROADMAP COMPONENT***/
.roadmap {
  cursor: pointer !important; }
  .roadmap.ui.card:hover {
    transform: translateY(0px) !important; }
  .roadmap__title {
    font-size: 20px !important;
    margin-top: -9px !important;
    margin-bottom: -9px !important; }
  .roadmap__progress {
    margin-top: 22px !important;
    margin-bottom: -12px !important; }
    .roadmap__progress_bar {
      background: #eaeaea !important; }
      .roadmap__progress_bar .bar {
        background-image: -webkit-linear-gradient(90deg, #7fa6e6 0%, #004fce 100%) !important;
        background-image: -moz-linear-gradient(90deg, #7fa6e6 0%, #004fce 100%) !important;
        background-image: -o-linear-gradient(90deg, #7fa6e6 0%, #004fce 100%) !important;
        background-image: linear-gradient(90deg, #7fa6e6 0%, #004fce 100%) !important; }

iframe.roadmap_modal {
  border: 1px solid rgba(147, 147, 147, 0.2) !important;
  width: 100%;
  height: 100%; }

/***BETATEST COMPONENT***/
.betatest__title {
  font-size: 20px !important;
  margin-top: -8px !important;
  margin-bottom: -8px !important; }

.betatest__wrapper {
  margin-bottom: -31px !important;
  padding-top: 5px !important;
  padding-bottom: 23px !important; }

.betatest__items {
  padding-top: 3px !important; }

.betatest__item {
  width: 29px !important;
  height: 29px !important;
  border-radius: 2px !important;
  -webkit-border-radius: 2px !important;
  background-color: #939393 !important;
  cursor: pointer !important;
  margin-right: 10px !important; }
  .betatest__item i {
    color: #FFFFFF !important;
    padding: 0 .25em 0 0.25em !important; }

.betatest__item-checked {
  background-color: #004fce !important; }

.betatest__submit {
  background-color: transparent !important;
  color: #004fce !important;
  text-transform: uppercase !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  border-radius: 2px !important;
  -webkit-border-radius: 2px !important;
  height: 100% !important;
  margin-top: -4px !important; }
  .betatest__submit-active {
    background-color: #004fce !important; }
  .betatest__submit__modal_text {
    color: #000000 !important; }

/***SOCIAL NETWORK SIDEBAR***/
.dashboard__social_component {
  padding-left: 8px !important;
  padding-right: 25px !important; }
  @media screen and (max-width: 991px) {
    .dashboard__social_component {
      padding-right: 8px !important; } }

.social__segment {
  padding: 0 !important;
  text-align: center !important; }

.social__sidebar a {
  color: #939393 !important;
  -webkit-transition: color .3s ease;
  transition: color .3s ease; }
  .social__sidebar a:hover {
    color: #004fce !important; }

.social__sidebar_icon {
  font-size: 20px !important;
  margin: 9px 0 !important; }

/***SETTINGS PAGE***/
.settings__identification {
  font-family: "Roboto", sans-serif !important; }
  .settings__identification_header {
    margin-bottom: 25px !important; }
  .settings__identification_tabs {
    padding: 0 !important; }
    .settings__identification_tabs .segment {
      border-top: none !important; }
    .settings__identification_tabs .secondary {
      height: 43px !important;
      background-color: #f1f6fd !important;
      border-bottom: none !important;
      padding: 0 20px !important;
      font-family: "Roboto", sans-serif !important;
      font-weight: 400 !important;
      font-size: 16px !important; }
      .settings__identification_tabs .secondary .active {
        border-bottom: 3px solid #004fce !important;
        font-weight: normal !important;
        color: #004fce !important; }
  .settings__identification input {
    font-family: "Roboto", sans-serif !important; }

.setting_divider {
  margin-left: -1rem !important;
  margin-right: -1rem !important; }

.header__input_text {
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
  color: #000000 !important;
  margin: 5px 0 10px !important; }

.header_text_uppercase {
  text-transform: uppercase !important; }

.blue__divider {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
  background-color: #004fce !important; }

.settings__information {
  margin-top: -25px !important; }

.settings__select {
  font-weight: 400 !important;
  color: #000000 !important; }

.error__validation {
  position: relative !important; }
  .error__validation_text {
    position: absolute !important;
    color: #FF3E33 !important;
    top: 50%;
    transform: translateY(35%) !important;
    font-size: 14px !important; }

.dropdown_populated {
  color: #000000 !important; }
  .dropdown_populated i:before {
    position: absolute;
    top: 20px; }
  .dropdown_populated .dropdown:not(.icon) {
    height: 50px !important;
    margin-top: 5px !important;
    margin-bottom: 32px !important;
    padding-left: 0 !important;
    width: 100% !important;
    border: none !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important; }
    .dropdown_populated .dropdown:not(.icon) .text {
      position: relative;
      top: 12px !important;
      color: #000000 !important; }
    .dropdown_populated .dropdown:not(.icon) .default {
      color: #939393 !important; }
    .dropdown_populated .dropdown:not(.icon) .menu {
      -webkit-flex-wrap: wrap !important;
      -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important; }
    .dropdown_populated .dropdown:not(.icon).dropdown-error {
      border-bottom: 1px solid #FF3E33 !important; }
    .dropdown_populated .dropdown:not(.icon).dropdown-success {
      border-bottom: 1px solid #939393 !important; }
    .dropdown_populated .dropdown:not(.icon):hover {
      border-bottom: 3px solid #004fce !important; }
    .dropdown_populated .dropdown:not(.icon) .item {
      width: 100% !important; }
    .dropdown_populated .dropdown:not(.icon) + .auth_input-dropdown {
      color: #939393 !important; }
    .dropdown_populated .dropdown:not(.icon):hover + .auth_input-dropdown {
      color: #004fce !important; }

.auth_dropdown {
  color: #000000 !important; }
  .auth_dropdown i:before {
    position: absolute;
    top: 20px; }
  .auth_dropdown .dropdown:not(.icon) {
    height: 50px !important;
    margin-top: 5px !important;
    margin-bottom: 32px !important;
    padding-left: 0 !important;
    width: 100% !important;
    border: none !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important; }
    .auth_dropdown .dropdown:not(.icon) .text {
      position: relative;
      top: 12px !important;
      color: #000000 !important; }
    .auth_dropdown .dropdown:not(.icon) .default {
      color: #939393 !important; }
    .auth_dropdown .dropdown:not(.icon) .menu {
      -webkit-flex-wrap: wrap !important;
      -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important; }
    .auth_dropdown .dropdown:not(.icon).dropdown-error {
      border-bottom: 1px solid #FF3E33 !important; }
    .auth_dropdown .dropdown:not(.icon).dropdown-success {
      border-bottom: 1px solid #939393 !important; }
    .auth_dropdown .dropdown:not(.icon):hover {
      border-bottom: 3px solid #004fce !important; }
    .auth_dropdown .dropdown:not(.icon) .item {
      width: 100% !important; }
    .auth_dropdown .dropdown:not(.icon) + .auth_input-dropdown {
      color: #939393 !important; }
    .auth_dropdown .dropdown:not(.icon):hover + .auth_input-dropdown {
      color: #004fce !important; }
  .auth_dropdown span.auth_input-dropdown {
    opacity: 0 !important; }
  .auth_dropdown .visible ~ span.auth_input-dropdown {
    opacity: 1 !important; }

.settings__dropdown .dropdown:not(.icon) {
  margin-top: 10px !important;
  margin-bottom: 32px !important;
  padding-left: 0 !important;
  width: 100% !important;
  height: 40px !important;
  border: none !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important; }
  .settings__dropdown .dropdown:not(.icon) .menu {
    -webkit-flex-wrap: wrap !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important; }
  .settings__dropdown .dropdown:not(.icon).settings__dropdown-error {
    border-bottom: 1px solid #FF3E33 !important; }
  .settings__dropdown .dropdown:not(.icon).settings__dropdown-success {
    border-bottom: 1px solid #939393 !important; }
  .settings__dropdown .dropdown:not(.icon):hover {
    border-bottom: 3px solid #004fce !important; }
  .settings__dropdown .dropdown:not(.icon) .item {
    width: 100% !important; }

.setting__header_button {
  background-color: #71779B !important;
  color: #FFFFFF !important; }
  .setting__header_button-active {
    background-color: #FFFFFF !important;
    color: #55697A !important; }
  .setting__header_button:hover {
    background-color: #FFFFFF !important;
    color: #55697A !important; }

.setting__description {
  margin-top: -30px !important;
  color: #000000 !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 400 !important; }

.setting__button {
  margin: 15px 0 !important;
  width: 98px !important;
  font-weight: 400 !important;
  height: 30px !important;
  line-height: 6px !important; }

.setting__submit {
  width: 176px !important; }

.setting__imagePreview {
  margin: 7px 0 !important; }

.setting__description {
  position: relative; }

.imagePreview__error {
  position: absolute !important;
  bottom: 20px;
  color: #FF3E33 !important; }

.setting__change_buttons input {
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
  background-color: inherit !important;
  border: none !important;
  border-bottom: 2px solid #A0A6CC !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  margin-bottom: 15px !important;
  color: #FFFFFF !important; }
  .setting__change_buttons input:focus, .setting__change_buttons input:hover {
    border-bottom-color: #FFFFFF !important; }
    .setting__change_buttons input:focus::-webkit-input-placeholder, .setting__change_buttons input:hover::-webkit-input-placeholder {
      color: #FFFFFF !important; }
    .setting__change_buttons input:focus:-moz-placeholder, .setting__change_buttons input:hover:-moz-placeholder {
      color: #FFFFFF !important; }
    .setting__change_buttons input:focus::-moz-placeholder, .setting__change_buttons input:hover::-moz-placeholder {
      color: #FFFFFF !important; }
    .setting__change_buttons input:focus:-ms-input-placeholder, .setting__change_buttons input:hover:-ms-input-placeholder {
      color: #FFFFFF !important; }

.settings__company_header {
  margin-top: 20px !important;
  margin-bottom: 15px !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px !important;
  text-transform: uppercase !important; }

.margin-top {
  margin-top: 10px !important; }

.beneficial__wrapper {
  margin-top: 26px !important; }

.beneficial_btn {
  float: right !important;
  background-color: #FFFFFF !important;
  color: #004fce !important;
  padding-right: 0 !important;
  text-transform: uppercase !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important; }
  .beneficial_btn:hover {
    color: #1c73ff !important; }

.beneficial_icon {
  font-size: 18px !important;
  color: #004fce !important; }
  .beneficial_icon:hover {
    color: #1c73ff !important; }

.login, .signup, .signup__success {
  font-family: "Roboto", sans-serif !important;
  max-width: 416px !important;
  margin: 5px auto !important; }

.auth__content {
  padding: 20px !important; }

.auth__divider {
  margin-left: -20px !important;
  margin-right: -20px !important; }

.login__header {
  font-size: 20px !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: normal !important;
  line-height: 35px !important;
  margin: -13px 0 -7px !important;
  color: #282828 !important; }

.reset__password_header {
  margin-top: -10px !important; }

.reset__password_content label {
  margin-bottom: 20px !important; }

.reset__divider {
  margin-right: -1rem !important;
  margin-left: -1rem !important; }

.login__content_forgot {
  text-align: right !important;
  margin: 15px 0 !important; }
  .login__content_forgot a {
    color: #004fce !important;
    font-size: 14px !important; }

.login__content_signup {
  text-align: center !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  margin: 20px 0 10px !important; }

.auth_btn {
  background-color: #004fce !important;
  color: #FFFFFF !important;
  text-transform: uppercase !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  border-radius: 2px !important;
  -webkit-border-radius: 2px !important;
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.24) !important;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.24) !important;
  -webkit-transition: background-color .5s ease !important;
  -o-transition: background-color .5s ease !important;
  transition: background-color .5s ease !important; }
  .auth_btn:hover {
    background-color: #0059e8 !important; }

.setting__button-new {
  background-color: #FFFFFF !important;
  color: #004fce !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin: 10px 0 !important; }
  .setting__button-new:hover {
    background-color: #FFFFFF !important;
    color: #0059e8 !important; }

.auth_input label {
  margin-bottom: 16px !important;
  position: relative !important;
  display: block !important;
  background-color: inherit !important;
  height: 60px !important; }
  .auth_input label input {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    display: block !important;
    position: relative !important;
    border: none !important;
    padding: 30px 0 8px !important;
    width: 100% !important;
    outline: none !important;
    background-color: inherit !important;
    color: #000000 !important;
    -webkit-transition: all 0.1s ease-in-out !important;
    -o-transition: all 0.1s ease-in-out !important;
    transition: all 0.1s ease-in-out !important; }
    .auth_input label input::-webkit-input-placeholder {
      color: #939393 !important; }
    .auth_input label input:-moz-placeholder {
      color: #939393 !important; }
    .auth_input label input::-moz-placeholder {
      color: #939393 !important; }
    .auth_input label input:-ms-input-placeholder {
      color: #939393 !important; }
    .auth_input label input.populated_currency {
      padding-top: 28px !important;
      padding-bottom: 12px !important; }
      .auth_input label input.populated_currency::placeholder {
        color: transparent !important; }
      .auth_input label input.populated_currency + span {
        opacity: 1 !important;
        top: 10px !important; }
    .auth_input label input:focus, .auth_input label input.populated {
      padding-top: 28px !important;
      padding-bottom: 10px !important; }
      .auth_input label input:focus::placeholder, .auth_input label input.populated::placeholder {
        color: transparent !important; }
      .auth_input label input:focus + span, .auth_input label input.populated + span {
        opacity: 1 !important;
        top: 4px !important; }
  .auth_input label span.auth_input-span {
    position: absolute !important;
    top: 0 !important;
    font-size: 12px !important;
    left: 0 !important;
    opacity: 0 !important;
    color: #939393 !important;
    -webkit-transition: all 0.2s ease-in-out !important;
    -o-transition: all 0.2s ease-in-out !important;
    transition: all 0.2s ease-in-out !important; }
  .auth_input label span.auth_input-dropdown {
    position: absolute !important;
    top: -3px !important;
    font-size: 12px !important;
    left: 0 !important;
    z-index: 999999 !important;
    -webkit-transition: all 0.2s ease-in-out !important;
    -o-transition: all 0.2s ease-in-out !important;
    transition: all 0.2s ease-in-out !important; }

.auth_input .auth__error {
  color: #FF3E33 !important;
  position: absolute;
  bottom: -17px;
  margin: 0 !important;
  font-size: 12px !important;
  white-space: nowrap !important; }

.auth_input .auth_length {
  color: #939393 !important;
  position: absolute;
  right: 0;
  bottom: -17px;
  margin: 0 !important;
  font-size: 12px; }
  .auth_input .auth_length-red {
    color: #FF3E33 !important; }

.auth_input-success label input {
  border-bottom: 1px solid #939393 !important; }
  .auth_input-success label input:hover {
    border-bottom: 3px solid #004fce !important; }
  .auth_input-success label input:focus {
    border-bottom: 3px solid #004fce !important; }
  .auth_input-success label input:focus + .auth_input-span, .auth_input-success label input:hover + .auth_input-span {
    color: #004fce !important; }

.auth_input-error label input {
  border-bottom: 1px solid #FF3E33 !important; }
  .auth_input-error label input:hover {
    border-bottom: 3px solid #FF3E33 !important; }
  .auth_input-error label input:focus {
    border-bottom: 3px solid #FF3E33 !important; }
  .auth_input-error label input:focus + .auth_input-span, .auth_input-error label input:hover + .auth_input-span {
    color: #FF3E33 !important; }

.signup__content_confirm {
  margin: 20px 0 34px !important;
  font-size: 14px !important;
  font-weight: 500 !important; }
  .signup__content_confirm a {
    color: #004fce !important; }

.signup__content_login {
  text-align: center !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  margin: 20px 0 10px !important; }
  .signup__content_login a {
    color: #004fce !important; }

.success__content {
  margin: 92px 0 !important;
  text-align: center !important; }
  .success__content_icon {
    font-size: 55px !important;
    color: #3db261 !important; }
  .success__content_text {
    font-family: "Roboto", sans-serif !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 25px !important;
    color: #282828 !important; }
  .success__content .success__email {
    font-family: "Roboto", sans-serif !important;
    font-weight: 600 !important; }

.component__telegram {
  padding: 0 !important; }

.telegram__wrapper {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.component__cryptocurrency {
  padding: 1em 0 0 !important; }
  @media screen and (min-width: 1200px) {
    .component__cryptocurrency {
      min-height: 320px !important; } }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .component__cryptocurrency {
      min-height: 290px !important; } }
  .component__cryptocurrency .cryptocurrency__form {
    padding: 0 10px !important; }

.crypto__widget {
  position: relative; }
  .crypto__widget:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 1px;
    width: calc(100% - 1px);
    height: 100px;
    background-color: #FFFFFF !important; }
  .crypto__widget_radio {
    color: #004fce !important; }

.reset_btn {
  margin-top: 20px !important;
  width: 100% !important; }

.visible.transition {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.ui.cards > .card > .content > .header:not(.ui),
.ui.card > .content > .header:not(.ui) {
  font-family: "Roboto", sans-serif !important;
  font-weight: 400 !important; }

.admin__application_comment {
  word-break: break-all !important; }

.admin__users-user {
  cursor: pointer !important;
  transition: background-color .1s ease; }
  .admin__users-user:hover {
    background-color: #f2f2f2 !important; }

.singleKYC__image_text {
  font-family: "Roboto", sans-serif !important; }

.singleKYC__image_img {
  margin: 15px 0 !important; }
  .singleKYC__image_img img {
    display: block !important;
    margin: 0 auto !important; }
