$white-color: #FFFFFF
$black-color: #000000
$orange-color: #FC900B

$container-background-color: #4D59A1
//calculator
$total-label-color: #324482
$bonus-background-color: #001F38
$calculator-button-color: #828ABD




=placeholder
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content






.white__divider
  border-bottom: 1px solid rgba(255,255,255,.5) !important

.dashboard__component
  background-color: $container-background-color !important
  border-bottom-right-radius: 10px
  border-bottom-left-radius: 10px

.component__calculator
  margin-bottom: 20px !important

.currency__button
  input
    &:checked + label
      color: $black-color !important
      background-color: $white-color !important
  label
    padding: 10px 25px !important
    background-color: #707ab3 !important
    border-radius: 20px
    color: $white-color !important
    &:before
      content: none !important
      display: none !important
    &:after
      content: none !important
      display: none !important
.input__currency
  input
    border-radius: 0 !important
    background-color: inherit !important
    border: none !important
    border-bottom: 3px solid $white-color !important
    color: $white-color !important

.total__label
  margin-top: 7px !important
  background-color: $total-label-color !important
  color: $white-color !important
  
.input__slider
  margin: auto
  outline: none
  padding: 0
  width: 100%
  height: 6px
  background: $white-color linear-gradient(left, $white-color 0%, $orange-color 50%, $orange-color 100%) no-repeat
  border-radius: 10px
  cursor: pointer
  -webkit-appearance: none
  &::-webkit-slider-runnable-track
    box-shadow: none
    border: none
    background: transparent
    -webkit-appearance: none
  &::-moz-range-track
    box-shadow: none
    border: none
    background: transparent
  &::-moz-focus-outer
    border: 0
  &::-webkit-slider-thumb
    width: 16px
    height: 16px
    border: 0
    background: #fff
    border-radius: 100%
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1)
    -webkit-appearance: none
  &::-moz-range-thumb
    width: 16px
    height: 16px
    border: 0
    background: #fff
    border-radius: 100%
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1)
.bonus__title
  color: $white-color !important

.bonus__label
  width: 45px !important
  margin: 0 3px !important
  color: $white-color !important
  background-color: $bonus-background-color !important
  &-active
    background-color: $orange-color !important

.bonus__maximum
  color: $white-color !important
  &-active
    color: #ff705c !important

.calculator__comments
  background-color: inherit !important
  color: $white-color !important
  border-color: rgba(255,255,255,.5) !important
  +placeholder
    color: $white-color !important
.calculator__submit
  background-color: #7A6FA9 !important
  color: $white-color !important