@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500')

//fonst
$font-robot: "Roboto", sans-serif !important

//colors
$white-color: #FFFFFF !important
$dim-white-color: #A0A6CC !important
$black-color: #000000 !important
$orange-color: #FC900B !important
$red-color: #FF3E33 !important

//header menu
$header-menu-background-color: rgba(40, 40, 40, 1) !important
//component
$container-background-color: #4D59A1 !important
$attentionIdentification-background-color: #F1C0C0


//calculator
$total-label-color: #324482 !important
$bonus-background-color: #2D3B7A !important
$bonus-maximum-color: #ff705c !important
$calculator-button-color: #7C6FA8 !important
$calculator-button-color-hover: #FF9209 !important

//settings
$header-identification-component: #363E71 !important

//mixin
=placeholder
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content
.logo_content
  img
    width: 100px !important
#root
  height: 100vh
.auth__container
  height: calc(100vh - 85.38px) !important


.menu__color
  background-color: $header-menu-background-color

.header__menu
  background-color: $header-menu-background-color
  border-radius: 0 !important
.grid__menu
  width: 100% !important
.menu__title
  a
    font-family: $font-robot
    font-weight: 500 !important
    font-size: 18px !important
    color: $white-color

.user__menu
  height: 100% !important
  //&_right
  justify-content: flex-end !important
  &_item
    font-family: $font-robot
    font-size: 14px !important
    font-weight: 500 !important
    text-align: center !important
    justify-content: center !important
    line-height: 18px !important
    padding: 0 !important
    width: 95px !important
    height: 64px !important
    margin-right: 50px !important
    cursor: pointer
    &:hover
      & a
        color: $white-color
    &:last-child
      margin-right: 0 !important
    a
      display: -webkit-box !important
      display: -ms-flexbox !important
      display: flex !important
      -webkit-box-pack: center
      -ms-flex-pack: center
      justify-content: center
      -webkit-box-align: center
      -ms-flex-align: center
      align-items: center
      width: 100% !important
      height: 100% !important
      color: rgba(147, 147, 147, 1) !important

  &-logout
    text-transform: uppercase !important
    position: relative !important
    &:after
      content: ""
      display: block
      position: absolute
      top: 15px
      right: 122%
      height: 32px
      width: 1px
      background-color: rgba(147, 147, 147, 1)

.mobileMenu__trigger
  display: none !important
  color: $white-color
  font-size: 22px
  position: absolute !important
  right: 0 !important
  i
    cursor: pointer !important
    &:hover
      color: fade_out(#fff, 0.7) !important
  @media only screen and (max-width: 991px)
    display: block !important

.component__main
  margin-top: 5px !important
  margin-bottom: 25px !important

.component__title
  font-family: $font-robot !important
  font-size: 20px !important
  color: rgba(40, 40, 40, 1) !important

.white__divider
  border-bottom: 1px solid rgba(255,255,255,.5) !important

.dashboard__component
  background-color: $white-color
  border-bottom-right-radius: 4px
  border-bottom-left-radius: 4px

.dashboard__submit
  background-color: rgba(0, 79, 206, 1) !important
  color: $white-color
  text-transform: uppercase !important
  font-size: 14px !important
  font-weight: 600 !important
  border-radius: 2px !important
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.24) !important
  -webkit-transition: background-color .5s ease !important
  -moz-transition: background-color .5s ease !important
  -ms-transition: background-color .5s ease !important
  -o-transition: background-color .5s ease !important
  transition: background-color .5s ease !important
  &:hover
    background-color: lighten(rgba(0, 79, 206, 1), 5%) !important

.attentionIdentification
  background-color: rgba(208, 88, 88, 1) !important
  font-family: $font-robot
  font-weight: normal !important
  margin-bottom: 15px !important
  &__icon
    font-size: 18px !important
    color: $white-color
  &__text
    color: $white-color
    font-size: 15px !important
  &__link
    color: $white-color
    text-decoration: underline !important
    &:hover
      color: darken(#fff, 10%) !important
  &__textColumn
    @media screen and (max-width: 767px) and (min-width: 320px)
      text-align: center

/***TIMER COMPONENT***/
.timer__item
  font-family: $font-robot
  &_title
    color: rgba(147, 147, 147, 1) !important
    font-weight: 300 !important
  &_value
    margin: 0 !important
    color: $black-color
    font-weight: normal !important
    font-size: 30px !important
    position: relative
  &:not(:last-child):after
    content: ":"
    color: $black-color
    font-size: 30px
    position: absolute
    left: 92%
    bottom: 10px


/***CALCULATOR COMPONENT***/
.component__calculator
  margin-bottom: 20px !important
.calculator__currency
  background-color: rgba(0, 79, 206, 0.05) !important
.currency__button
  font-family: $font-robot
  input
    &:checked + label
      color: $black-color
      font-weight: 500 !important
      border-bottom-color: rgba(0, 79, 206, 1) !important
  label
    padding: 5px 25px !important
    color: rgba(147, 147, 147, 1) !important
    border-bottom: 2px solid transparent !important
    background-color: transparent !important
    font-weight: 500 !important
    &:hover
      color: $black-color
      font-weight: 500 !important
      border-bottom-color: rgba(0, 79, 206, 1) !important
    &:before
      content: none !important
      display: none !important
    &:after
      content: none !important
      display: none !important

.input__currency
  color: rgba(147, 147, 147, 1) !important
  font-family: $font-robot
  font-weight: 300 !important
  letter-spacing: .4px
  font-size: 25px !important
  &:focus, &:hover
    color: $black-color
    font-weight: 400 !important
    border-bottom-color: rgba(0, 79, 206, 1) !important

.total__label
  font-family: $font-robot
  width: 100% !important
  margin-top: -15px !important
  border-radius: 2px 2px 2px 2px !important
  background-color: $total-label-color
  color: $white-color
  letter-spacing: .5px
  font-size: 14px !important
  font-weight: 500 !important
  overflow: hidden !important

.input__slider
  margin: auto
  outline: none
  padding: 0
  width: 100%
  height: 6px
  background: rgba(234, 234, 234, 1) -webkit-linear-gradient(-90deg, rgba(0, 79, 206, 1) 0%, rgba(127, 166, 230, 1) 50%, rgba(230, 238, 251, 1) 100%) no-repeat
  background: rgba(234, 234, 234, 1) -moz-linear-gradient(-90deg, rgba(0, 79, 206, 1) 0%, rgba(127, 166, 230, 1) 50%, rgba(230, 238, 251, 1) 100%) no-repeat
  background: rgba(234, 234, 234, 1) -o-linear-gradient(-90deg, rgba(0, 79, 206, 1) 0%, rgba(127, 166, 230, 1) 50%, rgba(230, 238, 251, 1) 100%) no-repeat
  background: rgba(234, 234, 234, 1) linear-gradient(-90deg, rgba(0, 79, 206, 1) 0%, rgba(127, 166, 230, 1) 50%, rgba(230, 238, 251, 1) 100%) no-repeat
  border-radius: 10px
  cursor: pointer
  -webkit-appearance: none
  &::-webkit-slider-runnable-track
    box-shadow: none
    border: none
    background: transparent
    -webkit-appearance: none
  &::-moz-range-track
    box-shadow: none
    border: none
    background: transparent
  &::-moz-focus-outer
    border: 0
  &::-webkit-slider-thumb
    width: 16px
    height: 16px
    border: 0
    background: #fff
    border-radius: 100%
    box-shadow: 0px 0px 5px 0px rgba(0, 31, 56, 0.5)
    -webkit-appearance: none
  &::-moz-range-thumb
    width: 16px
    height: 16px
    border: 0
    background: #fff
    border-radius: 100%
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1)

.calculator__bonus
  cursor: default !important

.bonus__title
  color: $black-color

.bonus__label
  width: 47px !important
  height: 20px !important
  margin: 0 3px !important
  color: $white-color
  font-family: $font-robot
  font-size: 13px !important
  font-weight: 400 !important
  border-radius: 3px !important
  overflow: hidden !important
  background-color: rgba(147, 147, 147, 1) !important
  &-active
    background-color: $orange-color

.bonus__maximum
  color: $black-color
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  font-family: $font-robot
  font-weight: 500 !important
  font-size: 14px !important
  i
    line-height: 1 !important
  img
    margin-right: 6px !important
  &-active
    color: rgba(208, 88, 88, 1) !important

.calculator__text
  font-family: $font-robot
  font-size: 14px !important
  color: rgba(147, 147, 147, 1) !important
  text-align: left !important
  line-height: 20px !important

.calculator__comments
  font-family: $font-robot
  font-weight: normal !important
  font-size: 14px !important
  line-height: 35px !important
  border-radius: 3px !important
  height: 90px !important
  color:  rgba(0, 0, 0, 1) !important
  border-color: rgba(147, 147, 147, 1) !important
  +placeholder
    color: rgba(147, 147, 147, 1) !important

.ui.dimmer
  background-color: rgba(255,255,255,.85) !important
.modal
  box-shadow: none !important

.modal__success
  text-align: center !important
  &_icon
    i
      font-size: 45px !important
      color: rgba(61, 178, 97, 1) !important
  &_text
    margin: 15px 0 10px !important
    span
      font-family: $font-robot
      font-size: 18px !important
  &_btn
    margin-top: 40px !important
    button
      width: 150px !important
.modal__success-error
  button
    background-color: $red-color
    &:hover
      background-color: lighten(#FF3E33, 5%) !important
.modal__error-icon
  i
    color: $red-color
/***REQUEST COMPONENT***/
.request__item_wrapper
  cursor: default !important
.request__item
  font-family: $font-robot
  &_wrapper
    padding-top: 1.25rem !important
    padding-bottom: 1.25rem !important
  &_title
    color: rgba(147, 147, 147, 1) !important
    font-size: 14px !important
  &_value
    margin-top: 3px !important
    font-size: 25px !important
    color: rgba(40, 40, 40, 1) !important




.pay__modal
  position: relative
  .close__modal
    position: absolute
    top: 0
    z-index: 1 !important
    right: 0
    i
      z-index: 9999 !important
      font-size: 18px !important
      cursor: pointer !important
  .pay__header
    font-family: $font-robot
    font-size: 18px !important
    font-weight: 500 !important
  .pay__qrcode
    border: 25px solid #E4EEFB !important
    width: 60% !important
    margin: 0 auto !important
    img
      width: 90% !important
  .pay__address
    margin-top: -10px !important
  .pay__copy
    margin-top: -18px !important
  .pay__input
    width: 60% !important
    input
      height: 25px !important
      font-family: $font-robot
      text-align: center !important
      font-size: 15px !important
      font-weight: 500 !important
      background-color: #131313 !important
      color: $white-color
  .dashboard__submit
    width: 60% !important
/***DOWNLOAD COMPONENT***/
//download__container

.download__list
  font-family: $font-robot
  &_item
    font-weight: 400 !important
    padding: 5px 0 !important
    color: rgba(147, 147, 147, 1) !important
    font-size: 16px !important
    &:hover
      color: rgba(0, 79, 206, 1) !important
      text-decoration: underline !important

/***ROADMAP COMPONENT***/
.roadmap__progress
  margin-top: 25px !important
  &_bar
    background: rgba(234, 234, 234, 1) !important
    .bar
      background-image: -webkit-linear-gradient(90deg, rgba(127, 166, 230, 1) 0%, rgba(0, 79, 206, 1) 100%) !important
      background-image: -moz-linear-gradient(90deg, rgba(127, 166, 230, 1) 0%, rgba(0, 79, 206, 1) 100%) !important
      background-image: -o-linear-gradient(90deg, rgba(127, 166, 230, 1) 0%, rgba(0, 79, 206, 1) 100%) !important
      background-image: linear-gradient(90deg, rgba(127, 166, 230, 1) 0%, rgba(0, 79, 206, 1) 100%) !important

/***BETATEST COMPONENT***/
.betatest
  &__wrapper
    margin: 10px 0 !important
  &__item
    width: 29px !important
    height: 29px !important
    border-radius: 2px !important
    background-color: rgba(147, 147, 147, 1) !important
    cursor: pointer !important
    i
      color: $white-color
      padding: 0 .25em 0 0.25em !important
  &__item-checked
    background-color: rgba(0, 79, 206, 1) !important

.betatest__submit
  background-color: transparent !important
  color: rgba(0, 79, 206, 1) !important
  text-transform: uppercase !important
  font-size: 14px !important
  font-weight: 600 !important
  border-radius: 2px !important
  height: 100% !important
  &-active
    background-color: rgba(0, 79, 206, 1) !important

/***SOCIAL NETWORK SIDEBAR***/
.social__segment
  padding: 0 !important
  text-align: center !important

.social__sidebar
  a
    color: rgba(147, 147, 147, 1) !important
    -webkit-transition: color .3s ease
    transition: color .3s ease
    &:hover
      color: rgba(0, 79, 206, 1) !important
  &_icon
    font-size: 20px !important
    margin: 18px 0 !important


/***SETTINGS PAGE***/
.settings__identification_header
  background-color: $header-identification-component

.setting__header_button
  background-color: #71779B !important
  color: $white-color
  &-active
    background-color: $white-color
    color: #55697A !important
  &:hover
    background-color: $white-color
    color: #55697A !important

.setting__description
  color: $white-color
  font-family: $font-robot

.setting__button
  margin: 15px 0 !important
  background-color: #828ABD !important
  color: $white-color
  &:hover
    background-color: $white-color
    color: #55697A !important

.setting__imagePreview
  margin: 7px 0 !important

.setting__change_buttons
  input
    font-family: $font-robot
    font-weight: 500 !important
    background-color: inherit !important
    border: none !important
    border-bottom: 2px solid $dim-white-color
    border-radius: 0 !important
    margin-bottom: 15px !important
    color: $white-color
    &:focus, &:hover
      border-bottom-color: $white-color
      +placeholder
        color: $white-color

.login, .signup
  margin-top: 90px !important
  margin-bottom: 20px !important
  font-family: $font-robot

.login__header
  font-size: 20px !important
  font-family: $font-robot
  font-weight: normal !important
  line-height: 35px !important
  color: rgba(40, 40, 40, 1) !important

.login__content
  &_forgot
    text-align: right !important
    margin: 15px 0 !important
    a
      color: rgba(0, 79, 206, 1) !important
      font-size: 14px !important
  &_signup
    text-align: center !important
    font-size: 14px !important
    font-weight: 500 !important
    margin: 20px 0 10px !important
.auth_btn
    background-color: rgba(0, 79, 206, 1) !important
    color: $white-color
    text-transform: uppercase !important
    font-size: 14px !important
    font-weight: 600 !important
    border-radius: 2px !important
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.24) !important
    -webkit-transition: background-color .5s ease !important
    -moz-transition: background-color .5s ease !important
    -ms-transition: background-color .5s ease !important
    -o-transition: background-color .5s ease !important
    transition: background-color .5s ease !important
    &:hover
      background-color: lighten(rgba(0, 79, 206, 1), 5%) !important
.auth_input
  label
    position: relative !important
    display: block !important
    input
      -webkit-box-sizing: border-box !important
      -moz-box-sizing: border-box !important
      box-sizing: border-box !important
      display: block !important
      position: relative !important
      border: none !important
      padding: 20px 0 !important
      width: 100% !important
      outline: none !important
      transition: all 0.2s ease-in-out !important
      border-bottom: 2px solid rgba(147, 147, 147, 1) !important
      +placeholder
        transition: all 0.2s ease-in-out !important
        color: rgba(147, 147, 147, 1) !important
      &:hover
        border-bottom-color: rgba(0, 79, 206, 1) !important
      &:focus, &.populated
        padding-top: 28px !important
        padding-bottom: 12px !important
        border-bottom-color: rgba(0, 79, 206, 1) !important
        &::placeholder
          color: transparent !important
        & + span
          opacity: 1 !important
          top: 10px !important
    span
      color: rgba(0, 79, 206, 1) !important
      position: absolute !important
      top: 0 !important
      font-size: 12px !important
      left: 0 !important
      opacity: 0 !important
      transition: all 0.2s ease-in-out !important

.signup__content
  &_confirm
    width: 75% !important
    margin: 20px 0 !important
    font-size: 14px !important
    font-weight: 500 !important
    a
      color: rgba(0, 79, 206, 1) !important
  &_login
    text-align: center !important
    font-size: 14px !important
    font-weight: 500 !important
    margin: 20px 0 10px !important
    a
      color: rgba(0, 79, 206, 1) !important
.success__content
  margin: 92px 0 !important
  text-align: center !important
  &_icon
    font-size: 55px !important
    color: rgba(61, 178, 97, 1) !important
  &_text
    font-family: $font-robot
    font-size: 16px !important
    font-weight: 500 !important
    line-height: 25px !important
    color: rgba(40, 40, 40, 1) !important
  .success__email
    font-family: $font-robot
    font-weight: 600 !important


.crypto__widget
  position: relative
  &:after
    content: ""
    display: block
    position: absolute
    right: 1px
    top: 1px
    width: 63%
    height: 48px
    background-color: #F6F9FB
  &:before
    content: ""
    display: block
    position: absolute
    top: 51px
    right: 1px
    width: 99%
    height: 50px
    background-color: $white-color

  &_radio
    color: rgba(0, 79, 206, 1) !important